In [1]:
import requests 

docs_url = 'https://github.com/alexeygrigorev/llm-rag-workshop/raw/main/notebooks/documents.json'
docs_response = requests.get(docs_url)
documents_raw = docs_response.json()

documents = []

for course in documents_raw:
    course_name = course['course']

    for doc in course['documents']:
        doc['course'] = course_name
        documents.append(doc)

In [2]:
documents[2]

{'text': "Yes, even if you don't register, you're still eligible to submit the homeworks.\nBe aware, however, that there will be deadlines for turning in the final projects. So don't leave everything for the last minute.",
 'section': 'General course-related questions',
 'question': 'Course - Can I still join the course after the start date?',
 'course': 'data-engineering-zoomcamp'}

In [3]:
import pandas as pd

df = pd.DataFrame(documents, columns=['course', 'section', 'question', 'text'])
df.head()

,course,section,question,text
0,data-engineering-zoomcamp,General course-related questions,Course - When will the course start?,The purpose of this document is to capture fre...
1,data-engineering-zoomcamp,General course-related questions,Course - What are the prerequisites for this c...,GitHub - DataTalksClub data-engineering-zoomca...
2,data-engineering-zoomcamp,General course-related questions,Course - Can I still join the course after the...,"Yes, even if you don't register, you're still ..."
3,data-engineering-zoomcamp,General course-related questions,Course - I have registered for the Data Engine...,You don't need it. You're accepted. You can al...
4,data-engineering-zoomcamp,General course-related questions,Course - What can I do before the course starts?,You can start by installing and setting up all...

In [ ]:
Vector Spaces
- turn the docs into vectors
- term-docments matrix:
    - rows: documents
    - columns: words/tokens
- bag of words:
    - word order is lost
    - sparse matrix

In [4]:
docs_example = [
    "Course starts on 15th Jan 2024",
    "Prerequisites listed on GitHub",
    "Submit homeworks after start date",
    "Registration not required for participation",
    "Setup Google Cloud and Python before course"
]

CountVectorizer

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
X = cv.fit_transform(docs_example)

names = cv.get_feature_names_out()

df_docs = pd.DataFrame(X.toarray(), columns=names).T
df_docs

               0  1  2  3  4
15th           1  0  0  0  0
2024           1  0  0  0  0
cloud          0  0  0  0  1
course         1  0  0  0  1
date           0  0  1  0  0
github         0  1  0  0  0
google         0  0  0  0  1
homeworks      0  0  1  0  0
jan            1  0  0  0  0
listed         0  1  0  0  0
participation  0  0  0  1  0
prerequisites  0  1  0  0  0
python         0  0  0  0  1
registration   0  0  0  1  0
required       0  0  0  1  0
setup          0  0  0  0  1
start          0  0  1  0  0
starts         1  0  0  0  0
submit         0  0  1  0  0

TfidfVectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_cv = TfidfVectorizer(stop_words = 'english')
X = tf_cv.fit_transform(docs_example)

names = tf_cv.get_feature_names_out()

df_docs_tf = pd.DataFrame(X.toarray(), columns = names).T
df_docs_tf

In [36]:
df_docs_tf.shape

(19, 5)

Query-Document Similarity

In [39]:
query = "Do I need to know python to sign up for the January course?"

q = tf_cv.transform([query])
q.toarray()

array([[0.        , 0.        , 0.        , 0.62791376, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.77828292, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ]])

In [38]:
q.shape

(1, 19)

In [23]:
#  importance of the words when using TfidfVectorizer on test data
query_dict = dict(zip(names, q.toarray()[0]))

#  importance of the words when using TfidfVectorizer on traning data
doc_dict = dict(zip(names, X.toarray()[0]))


# compare importance between query and doc
df_qd = pd.DataFrame([query_dict, doc_dict], index=['query', 'doc']).T
df_qd

                  query       doc
15th           0.000000  0.463693
2024           0.000000  0.463693
cloud          0.000000  0.000000
course         0.627914  0.374105
date           0.000000  0.000000
github         0.000000  0.000000
google         0.000000  0.000000
homeworks      0.000000  0.000000
jan            0.000000  0.463693
listed         0.000000  0.000000
participation  0.000000  0.000000
prerequisites  0.000000  0.000000
python         0.778283  0.000000
registration   0.000000  0.000000
required       0.000000  0.000000
setup          0.000000  0.000000
start          0.000000  0.000000
starts         0.000000  0.463693
submit         0.000000  0.000000

In [22]:
(df_qd['query'] * df_qd['doc']).sum()

np.float64(0.23490553492076713)

In [25]:
X.dot(q.T).toarray()

array([[0.23490553],
       [0.        ],
       [0.        ],
       [0.        ],
       [0.59579005]])

In [42]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np 

scores = cosine_similarity(X, q).flatten()
print("scores", scores)

# sorting the documents by the relevance to the query question
np.argsort(scores)

scores [0.23490553 0.         0.         0.         0.59579005]

array([1, 2, 3, 0, 4])

Vectorizing all the documents

In [44]:
fields = ['section', 'question', 'text']
transformers = {}
matrices = {}

for field in fields:
    cv = TfidfVectorizer(stop_words='english', min_df=3)
    X = cv.fit_transform(df[field])

    transformers[field] = cv
    matrices[field] = X

transformers['text'].get_feature_names_out()
matrices['text']

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 26463 stored elements and shape (948, 2118)>

In [61]:
transformers

{'section': TfidfVectorizer(min_df=3, stop_words='english'),
 'question': TfidfVectorizer(min_df=3, stop_words='english'),
 'text': TfidfVectorizer(min_df=3, stop_words='english')}

In [54]:
query = "I just singned up. Is it too late to join the course?"

q = transformers['text'].transform([query])
score = cosine_similarity(matrices['text'], q).flatten()

In [45]:
query = "Do I need to know python to sign up for the January course?"

q = transformers['text'].transform([query])
score = cosine_similarity(matrices['text'], q).flatten()

In [55]:
np.argsort(score)

array([555, 537, 536, 535, 534, 533, 532, 531, 530, 529, 559, 558, 556,
       538, 554, 553, 552, 551, 550, 549, 548, 547, 546, 545, 544, 575,
       838, 514, 513, 512, 543, 542, 541, 540, 843, 842, 841, 840, 839,
       574, 837, 836, 835, 834, 833, 832, 863, 862, 861, 860, 539, 592,
       607, 606, 605, 604, 603, 602, 601, 600, 597, 596, 595, 594, 576,
       622, 621, 620, 618, 617, 616, 615, 614, 613, 612, 611, 610, 590,
       573, 572, 571, 570, 569, 567, 566, 564, 563, 562, 560, 591, 515,
       589, 586, 585, 584, 583, 582, 581, 580, 579, 578, 577, 477, 437,
       434, 433, 432, 463, 462, 461, 460, 459, 453, 479, 478, 438, 476,
       859, 856, 855, 854, 853, 852, 851, 850, 849, 848, 879, 421, 402,
       401, 400,  44, 429, 428, 427, 426, 425, 424, 423, 422, 878, 420,
       419, 418, 417, 416, 447, 446, 444, 443, 442, 441, 497, 480, 510,
       509, 508, 507, 506, 505, 504, 501, 500, 499, 498, 481, 496, 527,
       526, 524, 523, 521, 520, 519, 518, 517, 516, 494, 877, 876, 475,
       474, 473, 472, 471, 469, 468, 467, 466, 495, 609, 493, 492, 491,
       490, 489, 488, 487, 486, 484, 483, 482, 809, 763, 761, 757, 756,
       755, 754, 753, 752, 783, 782, 781, 811, 765, 808, 807, 805, 803,
       802, 801, 800, 831, 830, 829, 828, 779, 747, 730, 728, 727, 726,
       724, 723, 722, 721, 720, 751, 750, 748, 778, 746, 745, 744, 743,
       742, 739, 738, 737, 736, 767, 766, 916, 939, 938, 937, 936, 935,
       934,  31, 921, 920, 919, 918, 917, 812, 914, 912, 943,  30,  29,
        42,  37,  36,  45, 945, 928, 794, 777, 776, 775, 773, 772, 771,
       770, 769, 799, 798, 796, 795, 731, 793, 792, 791, 790, 789, 788,
       786, 785, 784, 815, 813, 661, 642, 641, 640, 671, 670, 668, 667,
       666, 665, 664, 663, 662, 643, 660, 659, 658, 687, 686, 684, 827,
       825, 824, 823, 822, 821, 625, 608, 638, 637, 636, 635, 634, 633,
       632, 631, 629, 628, 627, 820, 624, 655, 653, 652, 651, 650, 649,
       647, 646, 645, 644, 712, 695, 694, 692, 691, 690, 689, 688, 718,
       717, 716, 714, 713, 696, 711, 710, 709, 708, 707, 706, 705, 704,
       735, 734, 733, 678, 819, 818, 817, 816, 847, 846, 845, 844, 683,
       682, 680, 679, 431, 677, 676, 675, 674, 673, 703, 702, 701, 699,
       698, 697, 146, 128, 159, 157, 156, 155, 154, 153, 152, 151, 150,
       149, 147, 129, 145, 144, 175, 890, 889, 888, 887, 886, 885, 884,
       883, 882, 141, 124, 123, 122, 121, 120, 119, 118, 116, 115, 114,
       112, 143, 881, 140, 139, 138, 137, 136, 135, 134, 133, 132, 131,
       130, 200, 180, 179, 178, 177, 176, 207, 206, 205, 204, 203, 202,
       201, 181, 199, 198, 197, 196, 195, 194, 403, 223, 222, 221, 220,
       161, 880, 911, 910, 909, 171, 170, 169, 168, 166, 164, 163, 162,
       125, 160, 191, 190, 189, 188, 187, 186, 185, 184, 183, 182,  58,
         2,   1,  16,  47,  46, 944,  34,  32,  63,  61,  60,  59,   4,
        57,  56,  55,  54,  53,  52,  51,  50,  49,  79,  77,  17, 930,
       929, 947,  14,  13,  12,  26,  25,  24,  21,  20,  19,  76, 946,
        35, 931, 942, 941, 940,  10,   9,   8,   6,   5, 108, 924,  90,
        89,  87,  85,  84,  82,  81,  80, 111, 110, 109, 925, 107, 105,
       103, 102, 101,  99,  98,  97,  96, 127, 126,  92,  74,  73,  72,
        71,  70,  68,  67,  66,  65,  95,  94,  93, 192, 907, 904, 903,
       902, 901, 900, 899, 898, 897, 927, 926, 344, 869, 868, 866, 865,
       864, 895, 894, 893, 892, 347, 346, 345, 870, 343, 341, 340, 339,
       338, 337, 336, 367, 366, 365, 364, 363, 324, 307, 306, 305, 219,
       335, 334, 332, 331, 330, 329, 326, 325, 362, 323, 320, 351, 350,
       349, 348, 875, 874, 873, 872, 871, 385, 368, 399, 398, 397, 394,
       393, 392, 391, 390, 389, 388, 387, 369, 384, 415, 414, 413, 412,
       410, 409, 408, 407, 406, 405, 404, 381, 361, 360, 359, 358, 357,
       356, 355, 354, 353, 352, 383, 382, 304, 380, 379, 378, 377, 376,
       375, 374, 373, 372, 371, 370, 240, 254, 253, 252, 251, 250, 249,
       248, 247, 246, 245, 244, 242, 255, 271, 270, 269, 268, 266, 264,
       263, 262, 308, 260, 259, 258, 237, 218, 217, 216, 215, 214, 213,
       212, 211, 210, 208, 239, 238, 261, 236, 235, 234, 233, 232, 231,
       230, 229, 228, 227, 225, 224, 289, 301, 299, 298, 257, 296, 295,
       294, 293, 292, 291, 290, 297, 319, 318, 317, 316, 315, 314, 313,
       312, 311, 310, 309, 302, 256, 286, 285, 284, 283, 282, 281, 280,
       279, 278, 277, 303, 272, 273, 276, 275, 274,  64, 333, 891, 158,
       672, 598, 104, 648, 241, 932, 321, 749, 857, 693,  48, 630, 715,
       896,  88, 922, 288, 700, 458,  39, 106, 485, 465, 656, 243, 117,
       905, 729, 740, 174, 669, 599, 568, 787, 300, 522, 557, 906, 456,
       725, 732, 172, 209, 173, 386, 528, 933, 265, 322, 561, 762,  43,
        86,  91, 167,  40, 760, 525, 681,  75, 685,  83, 867, 908,  33,
       267, 430, 502, 619, 165, 626, 464,  78, 759,  69, 439, 593, 858,
       503, 719, 226, 810,  18, 639, 804,  62, 470, 623, 780, 774, 587,
       806,  41, 826, 328, 396, 142, 327, 741, 100, 411, 193, 915, 450,
       654, 923, 342, 511, 454,  23, 758, 395,  28, 768, 435, 588, 148,
       814, 913, 455, 451, 445,  11, 565, 113,   7, 457,   3, 436, 287,
       657,  38, 452,  27, 764, 797, 448,  22,  15, 440, 449,   0])

In [59]:
df.iloc[15].text

'No, late submissions are not allowed. But if the form is still not closed and it’s after the due date, you can still submit the homework. confirm your submission by the date-timestamp on the Course page.y\nOlder news:[source1] [source2]'